<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="CK.DB.Actor.ActorEMail.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.Actor, CK.DB.Actor.ActorEMail" />
    <add key="DatabaseTestName" value="TEST_CK_DB_Actor_ActorEMail" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CK.Text" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>