<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.ActivityMonitor" version="5.0.1" targetFramework="net451" />
  <package id="CK.ActivityMonitor.StandardSender" version="5.0.1" targetFramework="net451" />
  <package id="CK.Core" version="5.0.1" targetFramework="net451" />
  <package id="CK.Setupable.Model" version="5.0.0-a35-00-develop-0014" targetFramework="net451" />
  <package id="CK.SqlServer.Core" version="5.0.0-a35-00-develop-0014" targetFramework="net451" />
  <package id="CK.SqlServer.Setup.Model" version="5.0.0-a35-00-develop-0014" targetFramework="net451" />
  <package id="CK.StObj.Model" version="5.0.0-a35-00-develop-0014" targetFramework="net451" />
  <package id="CK.Text" version="5.1.0-a02" targetFramework="net451" />
  <package id="SimpleGitVersionTask" version="0.21.0" targetFramework="net451" />
</packages>