<configuration><appSettings>
  -- This forces the Solutions that generate components to use the LocalFeed/Blank/CKSetupStore
  <add key="CKSetup/DefaultStoreUrl" value="C:\Dev\LocalFeed\Blank\CKSetupStore" />
  <add key="CKSetup/DefaultStorePath" value="C:\Dev\LocalFeed\Blank\CKSetupStore" />
</appSettings></configuration>