<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <appSettings>
    <add key="DynamicAssemblyName" value="CK.DB.Res.ResString.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.Res, CK.DB.Res.ResString" />
    <add key="DatabaseTestName" value="TEST_CK_DB_ResString" />
  </appSettings>
  
</configuration>