<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <appSettings>
    <add key="GeneratedAssemblyName" value="CK.DB.Res.ResText.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.Res, CK.DB.Res.ResText" />
    <add key="DatabaseTestName" value="TEST_CK_DB_ResText" />
  </appSettings>

</configuration>
