<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <appSettings>
        <!--
        <add key="DefaultStorePath" value="C:\Dev\LocalFeed\Blank\CKSetupStore" />
        <add key="WorkingDirectory" value="CKSetupWorkingDirectory" />
        <add key="DefaultBinPaths" value="../CK.DB.Actor/bin/{BuildConfiguration}/netstandard2.0" />
        -->
        <add key="Monitor/LogToTextFile" value="true" />
        <add key="Monitor/LogLevel" value="Trace" />
    </appSettings>
</configuration>
