<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <appSettings>
    <add key="DynamicAssemblyName" value="CK.DB.Res.ResName.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.Res, CK.DB.Res.ResName" />
    <add key="DatabaseTestName" value="TEST_CK_DB_ResName" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Yodii.Script" publicKeyToken="731c291b31fb8d27" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-0.3.0.0" newVersion="0.3.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>