<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="GeneratedAssemblyName" value="CK.DB.User.UserPassword.Tests.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.User.UserPassword, CK.DB.Auth, CK.DB.Actor" />
    <add key="DatabaseTestName" value="TEST_CK_DB_User_UserPassword" />
  </appSettings>

</configuration>
