<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="CK.DB.AllPackagesTests.Generated" />
    <add key="AssembliesToSetup" value="
         CK.DB.Acl, 
         CK.DB.Acl.AclType, 
         CK.DB.Actor, 
         CK.DB.Culture, 
         CK.DB.Group.SimpleNaming, 
         CK.DB.HZone, 
         CK.DB.Res, CK.DB.Res.MCResHtml, 
         CK.DB.Res.MCResString, 
         CK.DB.Res.MCResText, 
         CK.DB.Res.ResHtml, 
         CK.DB.Res.ResName, 
         CK.DB.Res.ResString, 
         CK.DB.Res.ResText, 
         CK.DB.Zone, 
         CK.DB.Zone.SimpleNaming, 
         CK.DB.User.UserPassword, 
         CK.DB.Actor.ActorEMail, 
         CK.DB.User.UserGoogle,
         CK.DB.Auth.AuthScope,
         CK.DB.User.UserGoogle.AuthScope" />
    <add key="DatabaseTestName" value="TEST_CK_DB_AllPackages" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="CK.Text" publicKeyToken="731c291b31fb8d27" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>