<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.ActivityMonitor" version="5.0.1" targetFramework="net452" />
  <package id="CK.ActivityMonitor.StandardSender" version="5.0.1" targetFramework="net452" />
  <package id="CK.Core" version="5.0.1" targetFramework="net452" />
  <package id="CK.DB.Acl" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Acl.AclType" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Acl.AclType.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Acl.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Actor" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Actor.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Culture" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Culture.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Group.SimpleNaming" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Group.SimpleNaming.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.HZone" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.HZone.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.MCResHtml" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.MCResHtml.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.MCResString" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.MCResString.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.MCResText" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.MCResText.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.ResHtml" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.ResHtml.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.ResName" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.ResName.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.ResString" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.ResString.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.ResText" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.ResText.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Res.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Tests.NUnit" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.DB.User.UserPassword" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.User.UserPassword.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Zone" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Zone.SimpleNaming" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Zone.SimpleNaming.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.DB.Zone.Tests" version="1.0.0-d06-00-develop-0004" targetFramework="net452" />
  <package id="CK.Monitoring" version="5.0.1" targetFramework="net452" />
  <package id="CK.Reflection" version="5.0.1" targetFramework="net452" />
  <package id="CK.Setup.Dependency" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.Setupable.Engine" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.Setupable.Model" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.Setupable.Runtime" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.SqlServer.Core" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.SqlServer.Parser" version="5.1.1" targetFramework="net452" />
  <package id="CK.SqlServer.Parser.Model" version="3.2.0" targetFramework="net452" />
  <package id="CK.SqlServer.Setup.Engine" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.SqlServer.Setup.Model" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.SqlServer.Setup.Runtime" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.SqlServer.Transform" version="5.1.1" targetFramework="net452" />
  <package id="CK.StObj.Engine" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.StObj.Model" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.StObj.Runtime" version="5.0.0-a35" targetFramework="net452" />
  <package id="CK.Text" version="5.0.1" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="1.0.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="NUnit.Runners.Net4" version="2.6.4" targetFramework="net452" />
  <package id="System.Collections" version="4.0.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq" version="4.0.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Threading" version="4.0.0" targetFramework="net452" />
  <package id="Yodii.Script" version="0.3.0" targetFramework="net452" />
</packages>