<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <appSettings>
    <add key="DynamicAssemblyName" value="CK.DB.Res.MCResHtml.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.Res, CK.DB.Culture, CK.DB.Res.MCResHtml" />
    <add key="DatabaseTestName" value="TEST_CK_DB_MCResHtml" />
  </appSettings>
  
</configuration>