<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.ActivityMonitor" version="5.0.0-d01" targetFramework="net451" />
  <package id="CK.ActivityMonitor.StandardSender" version="5.0.0-d01" targetFramework="net451" />
  <package id="CK.Core" version="5.0.0-d01" targetFramework="net451" />
  <package id="CK.DB.Tests.NUnit" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.Monitoring" version="5.0.0-d01" targetFramework="net451" />
  <package id="CK.Reflection" version="5.0.0-d01" targetFramework="net451" />
  <package id="CK.Setup.Dependency" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.Setupable.Engine" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.Setupable.Model" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.Setupable.Runtime" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.SqlServer.Core" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.SqlServer.Parser" version="5.0.0-a02" targetFramework="net451" />
  <package id="CK.SqlServer.Parser.Model" version="2.0.0-a01" targetFramework="net451" />
  <package id="CK.SqlServer.Setup.Engine" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.SqlServer.Setup.Model" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.SqlServer.Setup.Runtime" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.StObj.Engine" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.StObj.Model" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.StObj.Runtime" version="5.0.0-a01" targetFramework="net451" />
  <package id="CK.Text" version="5.0.0-d01" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="NUnit.Runners.Net4" version="2.6.4" targetFramework="net451" />
  <package id="System.Collections" version="4.0.0" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net451" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net451" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net451" />
  <package id="System.Linq" version="4.0.0" targetFramework="net451" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net451" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net451" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net451" />
  <package id="System.Threading" version="4.0.0" targetFramework="net451" />
</packages>