<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="GeneratedAssemblyName" value="CK.DB.Zone.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.Actor, CK.DB.Zone" />
    <add key="DatabaseTestName" value="TEST_CK_DB_Zone" />
  </appSettings>

</configuration>
