<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
      <!-- This DatabaseTestName is required since CodeCakeBuilder uses it. -->
      <add key="DatabaseTestName" value="TEST_CK_DB_AllPackages" />
      <add key="CKSetup/DefaultStorePath" value="(shared)" />
  </appSettings>

</configuration>
