<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="CK.DB.User.UserOidc.Tests.Generated" />
    <add key="RecurseAssembliesToSetup" value="CK.DB.User.UserOidc" />
    <add key="DatabaseTestName" value="TEST_CK_DB_User_UserOidc" />
  </appSettings>

</configuration>