<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="CK.DB.Acl.AclType.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.Actor, CK.DB.Acl, CK.DB.Acl.AclType" />
    <add key="DatabaseTestName" value="TEST_CK_DB_AclType" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="CK.SqlServer.Parser.Model" publicKeyToken="731c291b31fb8d27" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>