<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="CK.DB.Acl.AclType.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.Actor, CK.DB.Acl, CK.DB.Acl.AclType" />
    <add key="DatabaseTestName" value="TEST_CK_DB_AclType" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="CK.Reflection" publicKeyToken="731c291b31fb8d27" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="CK.SqlServer.Setup.Model" publicKeyToken="731c291b31fb8d27" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="CK.Setupable.Model" publicKeyToken="731c291b31fb8d27" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="CK.StObj.Model" publicKeyToken="731c291b31fb8d27" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="CK.SqlServer.Setup.Engine" publicKeyToken="731c291b31fb8d27" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>