<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="GeneratedAssemblyName" value="CK.DB.Zone.SimpleNaming.Tests.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.Actor, CK.DB.Zone, CK.DB.Group.SimpleNaming, CK.DB.Zone.SimpleNaming" />
    <add key="DatabaseTestName" value="TEST_CK_DB_Zone_SimpleNaming" />
  </appSettings>

</configuration>
