<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="GeneratedAssemblyName" value="GenByCKSetup" />
        <add key="DatabaseTestName" value="TEST_CK_DB_AllPackages" />
        <add key="Monitor/LogToTextFile" value="true" />
    </appSettings>

</configuration>
