<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="CK.DB.User.UserGoogle.Tests.Generated" />
    <add key="RecurseAssembliesToSetup" value="CK.DB.User.UserGoogle.RefreshToken" />
    <add key="DatabaseTestName" value="TEST_CK_DB_User_UserGoogle_RefreshToken" />
  </appSettings>
  
</configuration>